body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, rgb(26, 204, 100), rgb(16, 110, 136) );
    justify-content: center;
    display: flex;
    padding-block: 0.1px;
    align-items: center;
    text-align: center;
}
.cadastro-container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 350px;
    height: 600px;
}
h1{
    text-align: center;
    color: #009b7a;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    align-items: center;
}
label{
    text-align: left;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
#sub{
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 153, 255);
}
#cad{
    width: 100%;
    padding: 12px;
    background-color: #009B7A;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}
p{
    font-weight: 500;
}
#volt{
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}
a:hover{
    color: aqua;
}