@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Declaração de variáveis de cor e fonte */
:root {
  --fonte-montserrat: "Montserrat", sans-serif;
  --fonte-karla: "Karla", sans-serif;
  --fonte-spectral: "Spectral", serif;
  --cor-preto: #00251f;
  --cor-verde-escuro: #009b7a;
  --cor-verde-medio: #009b794d;
  --cor-cinza: #b4bec9;
  --cor-verde-claro: #deefe7;
  --cor-branco: #e2e2e2;
}

body {
  background-color: var(--cor-branco);
  font-family: var(--fonte-montserrat);
  min-height: 100vh;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* Navbar do site */
.navbar {
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-branco);
  display: flex;
  padding: 20px 30px;
}

.navbar-logo {
  width: 50px;
}

.logotipo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logotipo p {
  font-size: 19px;
  margin-left: 10px;
  font-family: var(--fonte-karla);
}

.navbar-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.navbar-item {
  color: var(--cor-preto);
  text-decoration: none;
  font-size: 16px;
}

.navbar-item:hover {
  border-bottom: 2px solid var(--cor-verde-escuro);
  padding-bottom: 7px;
}

.navbar-btn {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar-btn-item {
  text-decoration: none;
  color: var(--cor-branco);
  background-color: var(--cor-verde-escuro);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-btn-item:hover {
  color: var(--cor-cinza);
  background-color: var(--cor-preto);
}

.navbar-btn-profile {
  font-size: 21px;
  color: var(--cor-verde-escuro);
}

.navbar-btn-profile:hover {
  color: var(--cor-preto);
}

/* Navbar geral (mobile) */

.navbar-mobile {
  display: none;
  position: absolute;
  top: 70px;
  width: 100%;
  padding: 30px;
  background-color: var(--cor-branco);
}

.nav-list-mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  width: 100%;
}

.nav-list-mobile li {
  width: 100%;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.nav-items {
  display: block;
  width: 100%;
  padding: 8px 20px;
  text-decoration: none;
  color: var(--cor-preto);
  text-align: center;
  transition: color 0.3s ease;
  border-radius: 6px;
}

.nav-list-mobile li:hover {
  background-color: var(--cor-verde-escuro);
}

.nav-list-mobile li:hover .nav-items {
  color: var(--cor-branco);
}

#nav-btn-toggle {
  display: none;
  color: var(--cor-verde-escuro);
  font-size: 21px;
}

#nav-btn-toggle:hover {
  color: var(--cor-preto);
}

.div-header {
  display: flex;
  background-color: var(--cor-branco);
  font-size: 16px;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}

.section-header {
  max-width: 700px;
  padding: 10px 0;
}

.title-header {
  text-transform: uppercase;
  font-size: 51px;
  color: var(--cor-preto);
  text-align: left;
  padding: 8px 5px;
  font-family: var(--fonte-spectral);
}

.title-header span {
  color: var(--cor-verde-escuro);
}

.text-header {
  text-align: left;
  font-size: 16px;
  padding: 8px 0;
  padding-right: 30px;
}

.image-header {
  width: 100%;
  max-width: 600px;
  height: 450px;
  background-image: url(../imagens/fundo-circulo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-info {
  display: flex;
}

.header-number {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}

.header-info-text {
  font-size: 16px;
  text-align: left;
}

.div-info-home {
  display: flex;
  gap: 20px;
}

.title-testimonial {
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
}

.content-info {
  display: flex;
  gap: 40px;
  padding: 30px 0;
  justify-content: center;
}

.card-info {
  background-color: var(--cor-branco);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 350px;
  height: auto;
  box-shadow: 0 4px 12px #00251f23;
}

.icon-wrapper {
  background-color: var(--cor-verde-claro);
  padding: 12px 24px;
  font-size: 35px;
  border-radius: 10px;
  color: var(--cor-verde-escuro);
}

.icon-wrapper:hover {
  background-color: var(--cor-verde-escuro);
  color: var(--cor-branco);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.title-info {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px;
}

.text-info {
  text-align: left;
  font-size: 16px;
  padding: 10px 0;
}

.content-testimonial {
  display: flex;
  gap: 40px;
  padding: 30px 0;
  justify-content: center;
}

.card-testimonial {
  background-color: var(--cor-branco);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  padding: 5px;
  box-shadow: 0 4px 12px #00251f23;
}

.card-quote {
  font-size: 35px;
  position: relative;
  right: 40%;
  color: var(--cor-verde-escuro);
  top: 2%;
}

.card-quote:hover {
  color: var(--cor-preto);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.team-divider {
  height: 2px;
  width: 120px;
  background: var(--cor-verde-escuro);
  border-radius: 20px;
  border: none;
  margin-top: 8px;
  margin-bottom: 10px;
}

.card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0;
}

.card-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.testimonial-start {
  padding: 5px 0;
}

.card-text {
  font-size: 16px;
  text-align: left;
  padding: 10px 20px;
}

.testimonial-start {
  color: var(--cor-preto);
  font-size: 15px;
}

.testimonial-start:hover {
  color: var(--cor-verde-escuro);
}

/* Rodapé do site */
.footer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: var(--cor-verde-escuro);
  display: flex;
}

.footer-social {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: var(--cor-preto);
  color: var(--cor-branco);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-social-link:hover {
  background-color: var(--cor-cinza);
  color: var(--cor-preto);
}

.footer-menu {
  display: flex;
  padding: 10px;
  font-size: 16px;
}

.footer-item {
  list-style: none;
  margin: 0 10px;
}

.footer-link {
  text-decoration: none;
  color: var(--cor-branco);
}

.footer-link:hover {
  border-bottom: 2px solid var(--cor-preto);
  padding-bottom: 6px;
  color: var(--cor-cinza);
}

.copyright {
  text-align: center;
  font-size: 16px;
  background-color: var(--cor-preto);
  color: var(--cor-branco);
}

.text-copyright {
  padding: 20px;
}

@media (max-width: 532px) {
  .nav-items {
    font-size: 14px;
  }

  .logotipo p {
    font-size: 16px;
  }

  .div-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .section-header {
    padding: 0 15px;
  }

  .title-header {
    font-size: 32px;
    text-align: center;
  }

  .text-header {
    font-size: 14px;
    padding-right: 0;
  }

  .image-header {
    height: auto;
    max-width: 100%;
  }

  .header-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
  }

  .header-number {
    text-align: center;
    font-size: 32px;
  }

  .header-info-text {
    text-align: center;
    font-size: 14px;
  }

  .content-info,
  .content-testimonial {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 15px;
  }

  .card-info,
  .card-testimonial {
    width: 100%;
    max-width: 320px;
    padding: 15px;
  }

  .card-quote {
    right: 0;
    text-align: center;
    font-size: 24px;
  }

  .card-image {
    width: 100px;
    height: 100px;
  }

  .card-name {
    font-size: 15px;
  }

  .card-text {
    font-size: 14px;
    text-align: center;
  }

  .footer,
  .footer-menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-social-link {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .footer-menu {
    padding: 10px 0;
    text-align: center;
  }

  .footer-link {
    font-size: 14px;
  }

  .text-copyright {
    font-size: 13px;
    padding: 15px;
  }

  .title-testimonial {
    padding: 8px 15px;
  }
}

@media (max-width: 797px) {
  .navbar-list,
  .navbar-btn-item {
    display: none;
  }

  #nav-btn-toggle {
    display: block;
  }

  .navbar-mobile.open {
    display: block;
  }
}

@media (max-width: 920px) {
  .div-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .section-header {
    padding: 0 15px;
  }

  .title-header {
    font-size: 40px;
    text-align: center;
  }

  .text-header {
    padding-right: 0;
  }

  .image-header {
    height: auto;
    max-width: 100%;
  }

  .header-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
  }

  .header-number {
    text-align: center;
  }

  .header-info-text {
    text-align: center;
  }

  .content-info,
  .content-testimonial {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 15px;
  }

  .card-info,
  .card-testimonial {
    width: 100%;
    max-width: 80%;
    padding: 15px;
  }

  .card-quote {
    right: 0;
    text-align: center;
  }

  .card-text {
    text-align: center;
  }

  .footer,
  .footer-menu {
    gap: 10px;
  }

  .footer-menu {
    padding: 10px 0;
    text-align: center;
  }

  .text-copyright {
    padding: 15px;
  }

  .title-testimonial {
    padding: 8px 15px;
  }
}
