@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #009b7a;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  text-align: center;
  color: #009b7a;
  margin-bottom: 25px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 2px solid transparent;
}

button.primary,
form button[type="submit"] {
  background-color: #009b7a;
  color: white;
}

button.primary:hover,
form button[type="submit"]:hover {
  background-color: transparent;
  border-color: #009b7a;
  color: #00251f;
}

button.secondary,
form button[type="submit"] {
  background-color: #009b7a;
  color: white;
}

button.secondary:hover,
form button[type="submit"]:hover {
  background-color: transparent;
  border-color: #009b7a;
  color: #00251f;
}

